@(title: String)(content: Html)<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/adapter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/bower_components/recorderjs/recorder.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("js/node_modules/lamejs/lame.all.js")"></script>
  </head>
  <body>
   @playscalajs.html.scripts("client")
   @content
  </body>
</html>
